VITE_API_URL=http://127.0.0.1:8000/api
VITE_FIREBASE_API_KEY=AIzaSyCLwra_9tibuyOSHV_4aVoZkC4r_Dgi1f8
VITE_FIREBASE_AUTH_DOMAIN=proyecto12factores-a185a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=proyecto12factores-a185a
VITE_FIREBASE_APP_ID=1:646966919692:web:4725957eb67358a4d6a429